@font-face {
  font-family: "PopR";
  src: url("../fonts/Poppins-Regular.ttf");
}

body {
  background-color: #f6f3ec;
  margin: 0;
  font-family: PopR;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
