@font-face {
  font-family: "Anton";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "PopR";
  src: url("../fonts/Poppins-Regular.ttf");
}

.mainText {
  font-family: Anton;
  font-size: 26px;
  color: #403c38;
  text-align: center;
  margin-top: 24px;
}

.btnsLayout {
  margin-top: 24px;
  display: flex;
  gap: 18px;
}

.footerText {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px;
  font-family: PopR;
  font-size: 16px;
}

.cardStyles {
  background-color: #fff;
  min-width: 200px;
  padding: 40px;
  height: 150px;
  border-radius: 30px;
  border-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.demoCardStyles {
  background-color: #fff;
  width: 200px;
  padding: 40px;
  height: 150px;
  border-radius: 30px;
  border-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.cardWrapper {
  padding: 0px 40px 40px 40px;
}

.demoCardWrapper {
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWrapper {
  border-radius: 30px;
  padding: 20px;
}

.primaryBtn {
  padding: 12px 30px;
  border-radius: 14px;
  background-color: #e8c5ff;
  border-width: 0px;
  color: #403c38;
  font-family: PopR;
}

.primaryBtn:hover {
  background-color: #e8c5ff;
  color: #403c38;
}

.primaryBtn:active {
  background-color: #e8c5ff !important;
  color: #403c38 !important;
}

.secondaryBtn {
  padding: 10px 28px;
  border-radius: 14px;
  background-color: transparent;
  border-width: 1px;
  border-color: #403c38;
  color: #403c38;
}

.secondaryBtn:hover {
  background-color: transparent;
  border-color: #403c38;
  color: #403c38;
}

.secondaryBtn:active {
  background-color: transparent !important;
  color: #403c38 !important;
  border-color: #403c38 !important;
}
