.cardStyles {
  background-color: #fff;
  min-width: 200px;
  padding: 40px;
  height: 150px;
  border-radius: 30px;
  border-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0px 40px 40px 40px;
}

.modalWrapper {
  border-radius: 30px;
  padding: 20px;
}

.primaryBtn {
  padding: 12px 30px;
  border-radius: 14px;
  background-color: #e8c5ff;
  border-width: 0px;
  color: #403c38;
}

.primaryBtn:hover {
  background-color: #e8c5ff;
  color: #403c38;
}
